/*Fichier CSS pour le body*/
html, body {height: 100%;}

body{
    margin: 0; padding: 0;
    background-color:#00091A;
    background-image: url("../img/background_img.png");

    /*Effet Parallax */
    height: 100%;                       /*Prendra 100% de la hauteur du viewport, et donc de l'écran */
    background-attachment: fixed;       /*fixe l'image pendant le scroll*/
    background-repeat: no-repeat;       /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-position: center;        /*l'image est centrée */
    background-size: cover;             /* l'image prend 100% de l'espace*/
}

main {flex: 1;}

/*ne pas toucher : conflit avec le header sinon !*/ 
h1{
    font-family: Helvetica, sans-serif;
}
main h1{
    color: #F2CC0F;
}
  
h2{
    color: #F2CC0F;
    font-family: Helvetica, sans-serif;
}

h3{
    color: #D9763D;
    font-family: Helvetica, sans-serif;
}

p{
    color: #150716;
    font-family: 'Raleway', sans-serif;
}

.hyperlien{
    color: #150716;
    font-family: 'Raleway', sans-serif;
}
